@import "../../../../index.scss";
.product__info {
    text-align: center;
    .product__info-price {
        font-size: 16px;
        font-weight: 500;
    }
    .product__info-name {
        font-size: 30px;
        font-weight: 400;
    }
    .product__info-desc {
        font-size: 15px;
        font-weight: 400;
        color: $font-color;
        line-height: 1.6;
    }
    .product__info-colorList {
        p {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        > div {
            display: flex;
            justify-content: center;

            .product__info-colorItem {
                width: 40px;
                height: 40px;
                background-color: green;
                border: solid 0.5px #ccc;
                border-radius: 50%;
                margin: 0px 10px 10px;
                cursor: pointer;
                transition: ease-out 0.5s;
                &:hover {
                    border: solid 1px black;
                    width: 45px;
                    height: 45px;
                }
            }
            .active-color {
                border-color: black;
                width: 45px;
                height: 45px;
            }
        }
    }

    .product__info-size {
        p {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
        }

        .product__info-size-item {
            height: 40px;
            width: 240px;
            border: solid 1px $border-color;
            margin: 15px auto;
            background-color: white;
            font-size: 16px;
            align-items: center;
            line-height: 40px;
            cursor: pointer;
            transition: ease-out 0.2s;
            &:hover {
                color: black;
                font-weight: 500;
                font-size: 18px;
                background-color: #ccc;
                height: 50px;
                width: 260px;
                line-height: 50px;
            }
        }
        .size-selected {
            color: black;
            font-weight: 500;
            font-size: 18px;
            background-color: #ccc;
            height: 50px;
            width: 260px;
            line-height: 50px;
        }
    }
}
