.relatedProduct {
    p:first-child {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-top: 30px;
    }
    hr {
        width: 80px;
        margin: 10px auto;
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        li {
            margin-left: 20px;
            cursor: pointer;
            .card__item {
                img {
                    max-width: 100%;
                }
            }
        }
        li:first-child {
            margin-left: 0;
        }
        p {
            margin-top: 10px;
            text-align: center;
        }
    }
}
