@import "../../../../index.scss";

.payment {
    width: 90%;
    margin: 30px auto 0 0;
    border: solid 1px $border-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    p {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 0 10px;
    }
    .payment-wrap {
        margin: 0px;
        width: 100%;
        display: flex;
        padding: 20px;
        overflow: hidden;
        .payment-item {
            border: solid 0.5px $border-color;
            border-radius: 4px;
            margin: 5px;
            width: 50%;
            img {
                max-width: 100%;
                height: 40px;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.information-info {
    .information-title {
        margin-top: 30px;
        p {
            font-size: 20px;
        }
    }
    .information-contact {
        display: flex;
        justify-content: space-between;
        p:last-child {
            font-size: 14px;
            span {
                color: #e37648;
                cursor: pointer;
            }
        }
    }

    .information-checkbox {
        margin-top: 10px;
        input {
            margin-right: 10px;
        }
    }

    .submit {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        div {
            color: #e37648;
        }
        button {
            width: 200px;
            height: 40px;
            border-radius: 2px;
            background-color: #e37648;
            border: none;
            &:hover {
                background-color: #d58867;
            }
        }
    }
}
