.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    .form__title {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
    }
    .form__button {
        width: 100%;
        background-color: #545e71;
        border: none;
        padding: 8px;
        margin-bottom: 10px;
        margin-top: 8px;
        color: white;
        font-size: 14px;
        border-radius: 2px;
        &:hover {
            background-color: #bdbdbd;
            color: black;
        }
    }
}
.form__link {
    text-decoration: underline;
    a {
        font-size: 14px;
        color: #3a434d;
        margin: 10px;
        &:hover {
            color: #7c8399;
        }
    }
}
