@import "../../../../index.scss";

.card-item {
    margin-top: 40px;
    width: 33.33333%;
    position: relative;
    .onSale {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 2;
        width: 50px;
        height: 30px;
        line-height: 30px;
        background-color: #8d2025;
        color: white;
        text-align: center;
        align-items: center;
    }

    .card-img {
        width: 100%;
        height: auto;
        // border: solid 0.5px #ccc;

        a {
            position: relative;
            display: block;
        }
        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
            margin: auto;
        }

        .card-firstItemImg {
            opacity: 1;
            transition: 0.5s ease-out;
        }
        .card-secondItemImg {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s ease-out;
        }

        &:hover {
            .card-secondItemImg {
                opacity: 1;
            }
            .card-firstItemImg {
                opacity: 0;
            }
        }
    }

    .card-itemInfo {
        margin-top: 15px;

        h5 {
            font-weight: 300;
            color: #4d5959;
            font-size: 17px;
        }

        span {
            color: $font-color;
            font-size: 13px;
            margin-right: 10px;
        }

        .card-itemColor {
            width: 30px;
            height: 30px;
            // background-color: green;
            border: solid 1px black;
            margin-top: 10px;
        }
    }
}
