@import "../../../../index.scss";

.product__countAndSort {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .product__count > span {
        font-weight: 600;
    }

    .product__sort {
        .product__sort-item {
            display: inline-block;
            margin-left: 10px;
            background-color: #f6f6f6;
            padding: 10px;
            color: $font-color;

            label {
                font-weight: 600;
            }
            select {
                border: none;
                background-color: #f6f6f6;
                padding-left: 10px;
            }
        }
    }
}
