.home-banner,
.home-blog,
.home-press {
    .title {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-top: 30px;
        color: #8e8e8e;
        font-weight: bold;
    }
    hr {
        width: 40px;
        border-top: 2px solid black;
        margin: 10px auto;
    }
}

.home-banner {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.mobile-banner {
    display: none;
}

.home-press {
    .press-list {
        width: 70%;
        margin: auto;
        .press-item {
            margin: auto;
            cursor: pointer;
            img {
                width: 80%;
            }
        }
    }
}

.home-blog {
    width: 90%;
    margin: auto;
    .blog-list {
        width: 100%;
        margin: auto;
        .blog-item {
            img {
                width: 100%;
                height: 300px;
                transition: transform 0.1s;
                &:hover {
                    transform: scale(1.02);
                }
            }
            p {
                font-size: 20px;
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: 575.98px) {
    .laptop-banner {
        display: none;
    }
    .mobile-banner {
        display: block;
    }
}
