@import "../../index.scss";

.card-item {
    margin-top: 30px;
    position: relative;

    img {
        // width: 300px;
        width: 100%;
    }

    .card-itemInfo {
        margin-top: 15px;

        h5 {
            font-weight: 300;
            color: #4d5959;
            font-size: 17px;
        }

        p {
            color: $font-color;
            font-size: 14px;
            font-weight: 400;
        }

        .card-itemColor {
            width: 30px;
            height: 30px;
            // background-color: green;
            border: solid 1px black;
        }
    }
}
