.cart-list {
    background-color: rgb(250, 250, 250);
    .productItemList {
        list-style: none;
        padding: 10px;
        .productItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .productItem-img-desc {
                display: flex;
                justify-content: start;
                align-items: center;
                .item-img {
                    width: 80px;
                    height: 80px;
                    border: solid 0.5px #ccc;
                    border-radius: 4px;
                    margin-right: 20px;
                    position: relative;
                    img {
                        max-width: 90%;
                        max-height: 90%;
                        margin: auto;
                        display: block;
                    }
                    .item-quantity {
                        width: 25px;
                        height: 25px;
                        background-color: green;
                        border-radius: 50%;
                        position: absolute;
                        top: -20%;
                        left: 90%;
                        color: white;
                        background-color: rgba(114, 114, 114, 0.9);
                        text-align: center;
                        align-items: center;
                        font-size: 16px;
                    }
                }
                .item-desc {
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
            .item-price {
                font-weight: 16px;
            }
        }
    }

    .promotion-code {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 10px 0;
        input {
            width: 80%;
            margin-right: 10px;
            padding: 10px;
            border-radius: 2px;
            border: solid #ccc 0.5px;
        }
        button {
            width: 20%;
            padding: 10px;
            border-radius: 2px;
            border: solid #ccc 0.5px;
        }
    }

    .totalPrice {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        p:last-child,
        span {
            font-size: 20px;
        }
    }
    .shippingPrice {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }
    .sum {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        p:last-child,
        span {
            font-size: 30px;
        }
    }
}
